<div class="bootstrap-wrapper">
  <div class="container formbox text-center">
    <div class="row">

      <div class="col-md-6 offset-md-3">
          <h1>Registration</h1>
      </div>
      </div>
      <div class="container mt-3">
      <div class="row">
        <div class="col-md-6  offset-md-3">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="" type="text">
            <mat-icon matSuffix>person</mat-icon>



          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="" type="text">
            <mat-icon matSuffix>person</mat-icon>



          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" type="email">
            <mat-icon matSuffix>email</mat-icon>



          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contact No.</mat-label>
            <input matInput placeholder="" type="text">
            <mat-icon matSuffix>phone</mat-icon>


          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="" type="text"></textarea>
            <mat-icon matSuffix>address</mat-icon>



          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select >
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
            </mat-select>
            <mat-icon matSuffix></mat-icon>

          </mat-form-field>

<br>
<mat-form-field class="full-width" appearance="outline">
  <mat-label>Gender</mat-label>
  <mat-select >
    <mat-option value="Male">Male</mat-option>
    <mat-option value="Female">Female</mat-option>
  </mat-select>
  <mat-icon matSuffix>gender</mat-icon>

</mat-form-field>
<div class=" text-center">
  <button mat-raised-button  class="full-width" color="primary">Submit</button>
</div>





</div>
        </div>

  </div>
</div>
