<div class="d-flex w-100" >
<app-studentdashboard></app-studentdashboard>


<div class="student-dash ">
 <div class="navbar  d-flex  justify-content-end ">
  <li class="nav-item dropdown px-4 py-2 rounded-2">
    <a href="#" class=" d-flex gap-2 nav-link user-link" data-toggle="dropdown">
    <span>{{username}}</span>
    <div class="icon ml-2">
    <i class="fa fa-user "></i>
    </div>
    </a>
    <div class="dropdown-menu">
    <a class="dropdown-item" href="#">My Profile</a>
    <a class="dropdown-item" href="#">Edit Profile</a>
    <a class="dropdown-item" href="inbox.html">Settings</a>
    <a class="dropdown-item" href="inbox.html">Logout</a>
    </div>
    </li>

 </div>
  <router-outlet></router-outlet>
  </div>
  </div>
