
<mat-toolbar color="primary" style="height: 70px;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>EdySync Plus</span>
  <div >
  <span class="example-spacer"></span>

</div>

</mat-toolbar>

<div class="bootstrap-wrapper">
  <div class="container formbox text-center mt-5">
    <div class="row">






        <div class="col-md-6  offset-md-3 formbox">



          <mat-card>


        <h1>{{heading}}</h1>

         <form (ngSubmit)="onSubmit(login)" #login="ngForm">
          <mat-form-field class="full-width mx-5" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" ngModel name="email" type="email">
            <mat-icon matSuffix>email</mat-icon>



          </mat-form-field>
          <mat-form-field class="full-width mx-5" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="" ngModel name="password" type="password">
            <mat-icon matSuffix>lock</mat-icon>



          </mat-form-field>
          <div class=" text-center my-4">
            <button type="submit" mat-raised-button   class="full-width btn-height" color="primary" style="font-size: 20px;">Login <mat-icon matSuffix>login</mat-icon></button>
          </div>
         </form>


















        </mat-card>

</div>

        </div>

  </div>


