<div class="footer">
  <div class="top">
    <div>
      <h1>EdySyncPlus</h1>
      <p>Empowering Education, Inspiring Minds</p>
    </div>
    <div>

      <a href="/">
        <i class="fa-brands fa-facebook-square"></i>
      </a>
      <a href="/">
        <i class="fa-brands fa-instagram-square"></i>
      </a>
      <a href="/">
        <i class="fa-brands fa-twitter-square"></i>
      </a>
      <a href="/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="bottom">
    <div>
      <h4>Quick Links</h4>
      <a href="/" class='links'><i class="fas fa-angle-right"></i>
Home</a>
      <a href="/about" class='links'> <i class="fas fa-angle-right"></i>
About Us</a>
      <a href="/courses" class='links'><i class="fas fa-angle-right"></i>
Courses</a>
      <a href="/admissions" class='links'><i class="fas fa-angle-right"></i>
Admissions</a>
    </div>
    <div>
      <h4>Academics</h4>
      <a href="/calendar " class='links'><i class="fa-regular fa-calendar-days fa-lg"></i>Academic Calendar</a>
      <a href="/faculties" class='links'><i class="fa-solid fa-person-chalkboard"></i>Faculties</a>
      <a href="/library" class='links'><i class="fa-solid fa-book"></i>Library</a>
      <a href="/events" class='links'><i class="fa-regular fa-calendar-days fa-lg"></i>Events</a>
    </div>
    <div>
      <h4>Support</h4>
      <a href="/contact"  class='links'><i class="fa-solid fa-paper-plane"></i>Contact Us</a>
      <a href="/faq" class='links'><i class="fa-regular fa-circle-question"></i>FAQs</a>
      <a href="/support" class='links'><i class="fa-regular fa-circle-question"></i>Support Services</a>
    </div>
    <div>
      <h4>Legal</h4>
      <a href="/terms">Terms of Service</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/license">License</a>
    </div>
  </div>
</div>
