<div class="" *ngIf="!showNewPassword">
  <section class="wrapper">
    <div class="row justify-content-center items-center mt-5">
      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
        <form class="rounded bg-white shadow p-5" (ngSubmit)="sendOtp()"  [formGroup]="forgotPasswordForm">
          <h3 class="text-dark fw-bolder fs-4 mb-2">Forget Password ?</h3>

          <div class="fw-normal text-muted mb-4">
            Enter your email to reset your password.
          </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="emailData" >
            <label for="floatingInput">Email address</label>
          </div>

          <p class="text-muted mb-3">An OTP will be sent to the provided email address.</p>

          <button type="submit" class="btn btn-primary submit_btn my-4" >Send OTP</button>
          <button type="submit" class="btn btn-secondary submit_btn my-4 ms-3">Cancel</button>
        </form>
      </div>
    </div>
  </section>
</div>



<!-- New Password Page -->
<div class="row justify-content-center items-center mt-5" *ngIf="showNewPassword" style="height: 70%;">
  <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

    <h1>Update Password</h1>
<form [formGroup]="newPasswordForm" class="rounded bg-white shadow p-5" (ngSubmit)="updatePassword(pass.value)" style="height: 300px;">
<div  >
  <div class="form-group" [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched),
  'has-success': password.valid && (password.dirty || password.touched) }">

    <label for="password">New Password</label>
    <input type="password" class="form-control p-2" #pass id="password" formControlName="password"  required>
    <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors?.required">Password is required</p>

      <p *ngIf="password.errors?.minlength">Password must be 8 characters long, we need another
          {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters
      </p>

      <p *ngIf="password.errors?.pattern">The Password must contain one at least Uppercase, Lowercase, Digit &
          Special character</p>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-danger': confirmpass.invalid && (confirmpass.dirty || confirmpass.touched),
  'has-success': confirmpass.valid && (confirmpass.dirty || confirmpass.touched) }">
    <label for="confirmpass">Confirm Password</label>
    <input type="password" class="form-control p-2" id="confirmpass" formControlName="confirmpass"  required>
    <div class="form-control-feedback" *ngIf="confirmpass.errors && (confirmpass.dirty || confirmpass.touched)">
      <p *ngIf="confirmpass.errors?.required">Confirm Password is required</p>
      <p *ngIf="confirmpass.errors?.passwordMismatch">Passwords do not match</p>
  </div>
  </div>
  <button type="submit" class="btn btn-success p-2"  [disabled]="forgotPasswordForm.invalid || password.invalid || confirmpass.invalid">Update Password</button>
</div>
</form>
  </div>
  </div>




