
<div class="header">
  <h1>List Of Classes</h1>
</div>
<div class="classlist">

<div class="card-group" (click)="showclassinfo(5)">
  <div class="card">
    <img src="assets/class1.jfif" class="card-img-top" alt="...">
    <div class="card-body">
     <h3>Class 5th</h3>
    </div>
  </div>
  <div class="card" (click)="showclassinfo(6)">
    <img src="assets/class2.jfif" class="card-img-top" alt="...">
    <div class="card-body">
     <h3>Class 6th</h3>
    </div>
  </div>
  <div class="card" (click)="showclassinfo(7)">
    <img src="assets/class3.jfif" class="card-img-top" alt="...">
    <div class="card-body">
    <h3>Class 7th</h3>
    </div>
  </div>
</div>


<div class="card-group" (click)="showclassinfo(8)">
  <div class="card">
    <img src="assets/class4.jfif" class="card-img-top" alt="...">
    <div class="card-body">
     <h3>Class 8th</h3>
    </div>
  </div>
  <div class="card" (click)="showclassinfo(9)">
    <img src="assets/class5.jfif" class="card-img-top" alt="...">
    <div class="card-body">
     <h3>Class 9th</h3>
    </div>
  </div>
  <div class="card" (click)="showclassinfo(10)">
    <img src="assets/class6.jfif" class="card-img-top" alt="...">
    <div class="card-body">
    <h3>Class 10th</h3>
    </div>
  </div>
</div>
</div>
<h2>School Timetable</h2>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="time">8:00 AM - 9:00 AM</td>
                <td>Math</td>
                <td>English</td>
                <td>Science</td>
                <td>History</td>
                <td>Physical Education</td>
            </tr>
            <tr>
                <td class="time">9:00 AM - 10:00 AM</td>
                <td>Physics</td>
                <td>Chemistry</td>
                <td>Math</td>
                <td>English</td>
                <td>Geography</td>
            </tr>
            <tr>
                <td class="time">10:00 AM - 11:00 AM</td>
                <td>Biology</td>
                <td>Physical Education</td>
                <td>History</td>
                <td>Math</td>
                <td>English</td>
            </tr>

            <tr>
                <td class="time">12:00 PM - 1:00 PM</td>
                <td></td>
                <td></td>
                <td>Lunch Break</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td class="time">11:00 AM - 12:00 PM</td>
              <td>Chemistry</td>
              <td>Geography</td>
              <td>Physics</td>
              <td>English</td>
              <td>Math</td>
          </tr>

            <tr>
                <td class="time">1:00 PM - 2:00 PM</td>
                <td>Computer Science</td>
                <td>Art</td>
                <td>Physical Education</td>
                <td>Math</td>
                <td>Science</td>
            </tr>
            <tr>
                <td class="time">2:00 PM - 3:00 PM</td>
                <td>English</td>
                <td>Math</td>
                <td>Chemistry</td>
                <td>History</td>
                <td>Geography</td>
            </tr>
        </tbody>
    </table>
